<!DOCTYPE html>
<html lang="en">
<head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
    <h1>Hi, <%= @passenger.name %></h1>
    <p>
      You have successfully booked a flight: <%= @flight.flight_name %>.<br>
    </p>
    <p>
      Please be aware that you have to be at the airport at least 3 hours early.
    </p>
    <p>Thanks and have a great day!</p>
</body>
</html>