.index-container {
    grid-column: 2 / 3;
}

.flight-container {
    padding: 2vh 2vw;
    border: 2px solid black;
    border-radius: 10px;
}

.available-container {
    margin: 3vh 0;
    padding: 2vh 2vw;
    border: 2px solid black;
    border-radius: 10px;
}

.field {
    width: 100%;
    margin: 1vh 0;
    display: grid;
    grid-template-rows: 1fr 1fr;
    row-gap: 1vh;
}

.info-field {
    width: 100%;
    margin: 1vh 0;
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 1vw;
    align-items: center;
}

.double-drop-field {
    width: 100%;
    margin: 1vh 0;
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    gap: 1vh 5vw
}

.drop-field {
    width: 100%;
    margin: 1vh 0;
    display: grid;
    grid-template-rows: 1fr 1fr;
    row-gap: 1vh;
}

.radio-field {
    width: 100%;
    margin: 1vh 0;
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 1vw;
}

.actions {
    width: 100%;
    padding: 2vh 0;
    display: grid;
}

.submit-button {
    background-color: #1d3557;
    padding: 1vh 0;
    border: none;
    border-radius: 10px;
    color: white;
}